/build
/coverage.xml
/dist
/.project
/.pydevproject
/MANIFEST
/.settings/
/.coverage
*.egg-info
/.pytest_cache/
/.vscode/
/docs/build
/.eggs
/logs
/settings.json
/settings_laptop.json
/*.pickle
/*.pid
