language: python
dist: bionic
env:
  matrix:
    - PYTHON_VERSION=2.7
    - PYTHON_VERSION=3.6
    - PYTHON_VERSION=3.7

install:
  - git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
  - . .ci_tooling/miniconda.sh
  - pip install codecov
  - python -m pip install . --upgrade

script:
  - coverage run --source=iembot setup.py test
  - codecov -e TRAVIS_PYTHON_VERSION
