language: python
dist: bionic
env:
  matrix:
    - PYTHON_VERSION=3.6
    - PYTHON_VERSION=3.7
    - PYTHON_VERSION=3.8

install:
  - git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
  - . .ci_tooling/postgres.sh
  - . .ci_tooling/miniconda.sh
  - pip install codecov
  - python -m pip install . --upgrade

before_script:
  - export PATH="/usr/lib/postgresql/11/bin:$PATH"
  - psql -c 'CREATE ROLE travis SUPERUSER LOGIN CREATEDB;' -U postgres || true
  - psql -v "ON_ERROR_STOP=1" -c "create database iembot;" -h localhost -U postgres || exit 2
  - psql -v "ON_ERROR_STOP=1" -f database/schema.sql -h localhost -U postgres iembot || exit 2

script:
  - pytest --cov=src
  - codecov -e TRAVIS_PYTHON_VERSION
