# feedgen 0.7.0 has a PR I made against it
feedgen
git+https://github.com/Weasyl/txyam2.git#egg=txyam
git+https://github.com/akrherz/pyIEM.git
git+https://github.com/akrherz/twitty-twister.git@issue15
git+https://github.com/akrherz/python-oauth.git@six#egg=oauth
